*{
  font-family: 'Lato', sans-serif;
  color: #6c2c2c;
  /* testing the borders to see box sizes */
  /* border: 1px solid black; */
}

body{
  background-image: url("../images/pattern-with-spiration.png");
}

body, figure{
  margin: 0px;
}

.sidebar{
  background-color: white;
  width: 243px;
  height: 100vh;
  box-shadow: 1px 0px #6c2c2c;
}

#logo{
  display: block;
  width: 80%;
  margin: 0vh auto;
  /* padding: 8vh 0vw; */
  padding: 8vh 0vw 6vh 0vw;
}

.location{
  display: block;
  padding: 0 1.875rem;
  margin: 1rem 0rem;
  letter-spacing: 0.05rem;
  font-size: 14px;
  font-style: italic;
}

.hours{
  margin: 2rem 0rem;
}

.location, .hours{
  text-align: center;
  word-spacing: 0.1rem;
  line-height: 1.5;
  opacity: 75%;
  /* font-weight: bold; */
}

.hours p{
  border: 1px solid #6c2c2c;
  padding: 3px;
  margin: 3rem 5rem 0.5rem;
  background-color:rgba(151,115,65,0.65);
  color: wheat;
  border-radius: 2px;
}